.bannerabtme {
    width: 100vw;
    height: 75vh;
    background: linear-gradient(rgba(176, 176, 176, 0.193), rgba(221, 208, 208, 0.146) ), url(../img/100.jpg);
    background-size: cover;
    background-position: center;
    .textbanner1 {
        color: white;
        font-size: 3rem;
        font-weight: 600;
        font-family: Garamond, serif;
        }
    }
    .abtme-banner {
        background-color: #8d9eff38;
        .banner-text {
            h2 {
                font-size: 3rem;
                text-align: center;
                font-weight: 600;
                font-family: Garamond, serif;
                color: #453C67;
                padding-top: 20px;
                
            }
            p {
                text-align: center;
                font-size: 1.0rem;
                font-weight: 400;
                padding: 10px;
                color: #453C67;
                margin: 0;
            }
        }
    }

.list-form {
    list-style-type: disc;
    list-style: circle;
}

.motivacional-banner {
    background-color: #cebcdd5e;
    background-size: contain;
    height: 100px;
    font-size: 16px;
    font-weight: 600;
}

.textbanner1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    font-family: Garamond, serif;
}

