.bannerclases {
    background: linear-gradient(rgba(176, 176, 176, 0.193), rgba(221, 208, 208, 0.146) ), url(../img/261.jpg);
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-position: bottom;
    .textbanner1 {
        color: white;
        font-size: 3rem;
        font-weight: 600;
        font-family: Garamond, serif;
        }
    }
    