header {
    background-color: rgba(201, 180, 219, 0.85); 
    .navbar {
        font-size: 1.3rem;
        font-weight: 700;
    }
    .nav-logo {
        width: 100px;
        height: fit-content;
    }
}





