.bannerindex {
    background: linear-gradient(rgba(0, 0, 0, 0.193), rgba(0, 0, 0, 0.146) ), url(../img/054.jpg);
    height: 75vh;
    background-size: cover; 
    background-position: center;
    .textbanner1 {
        color: white;
        font-size: 4rem;
        font-weight: 600;
        font-family: Garamond, serif;
        }
    }

    .beneficios-yoga-bg {
        background: linear-gradient(rgba(115, 159, 234, 0.250),rgba(115, 159, 234, 0.250)), url(/img/lotus.jpg);
        width: 100%;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin:0 !important;
        padding: 25px;
        h2 {
            text-align: center;
            padding-top: 20px;
            font-size: 3rem;
            font-weight: 600;
            color: #453C67;
            font-family: Garamond, serif;
            text-transform: uppercase;
        }
    .beneficios-yoga {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            height: 100%;
            margin: 10px;
            .yoga-banner {
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-items:center;
                align-items: center; 
                height: 100%;
                width: 700px;
                margin: 10px;
                img {
                    width: 150px;
                    height: 150px;
                }
                h3 {
                    padding-top: 20px;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: #453C67;
                    font-family: Garamond, serif;
                    text-transform: uppercase;
                    text-align: center;
                }
                p {
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: #453C67;
                    text-align: center;
                }
                }
            }
        }
            
    .bg-beneficios{
        background: linear-gradient(rgba(115, 159, 234, 0.250),rgba(115, 159, 234, 0.250)), url(/img/lotus.jpg);
        width: 100%;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 0 !important;
            .benef-text {
                font-size: 2.5rem;
                padding-top: 20px;
                font-family: 'Avenir', sans-serif;
                font-weight: 600;
                color: #453C67;
                text-transform: uppercase;
            }
            span {
                font-size: 1.5rem;
                padding: 20px;
                color: #453C67;
            }
            .card-1 {
                font-family: 'Poppins', sans-serif;
                width: 340px;
                background: rgba(245, 239, 239, 0.421);
                border-radius: 10px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.288);
                display: flex;
                flex-direction: column;
                padding-top: 100px;
                transition-duration: 0.4s;
                transition-property: transform;
                margin: 20px;
                &:hover {
                    transform: scale(1.1);
                }
                .profile-image {
                    img {
                        z-index: 1;
                        width: 200px;
                        height: 200px;
                        position: relative;
                        margin-top: -75px;
                        margin-bottom: 20px;
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        border-radius: 20%;
                        border: 10px solid rgba(132, 78, 139, 0.251);
                    }
                }
                .card-content {
                    h3 {
                        font-size: 2rem;
                        text-align: center;
                        margin: 0;
                        color: #453C67;
                        font-weight: 500;
                    }
                }
                p {
                    font-size: 1rem;
                    text-align: justify;
                    padding: 10px 20px 5px 20px;
                    text-align: center;
                    color: #383054;
                }
            }
    }
    


        @media screen and (max-width: 986px) {
            .bg-beneficios{
                width: 100vw;
                background: linear-gradient(rgba(115, 159, 234, 0.250),rgba(115, 159, 234, 0.250)), url(/img/lotus.jpg);
                background-size: cover;
                background-position: right;
                background-repeat: no-repeat;
                background-attachment: fixed;
            } 
            .card-1 {
                width: 300px;
            }
}





