.bannermindf {
    background-image: url(../img/340.jpg);
    width: 100vw;
    height: 50vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    .textbanner1 {  
        color: white;
        font-size: 3rem;
        font-weight: 600;
        font-family: Garamond, serif;
        }
    }
    